
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './utils/fonts/fonts.css';
@import './add-fonts-editor.css';

/* HTML EDITOR */

.ql-editor .ql-size-small {
  font-size: 0.75em;
}

.ql-editor .ql-size-huge {
  font-size: 2.5em;
}

.ql-editor .ql-size-large {
  font-size: 1.5em;
}

::ng-deep .ql-size-small {
  font-size: 0.75em;
}

::ng-deep .ql-size-large {
  font-size: 1.5em;
}

:ng-deep .ql-size-huge {
  font-size: 2.5em;
}

/* Font */

.ql-editor .ql-align-right {
  text-align: right;
}

.ql-editor .ql-direction-rtl {
  direction: rtl;
}

::ng-deep .ql-align-right {
  text-align: right;
}

::ng-deep .ql-direction-rtl {
  direction: rtl;
}

/* Paragraph */

::ng-deep .ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}

/* Code block */

.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}

::ng-deep .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}

/* Identation */

.ql-editor .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

.ql-editor .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

::ng-deep .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

::ng-deep .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

::ng-deep.ql-font-roboto {
  font-family: "Roboto";
}

::ng-deep.ql-font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

::ng-deep.ql-font-helvetica {
  font-family: 'Helvetica';
}

::ng-deep.ql-font-times {
  font-family: 'Times';
}

::ng-deep.ql-font-bebas {
  font-family: 'Bebas';
}

::ng-deep.ql-font-bodoni {
  font-family: 'Bodoni';
}

::ng-deep.ql-font-didot {
  font-family: 'Didot';
}

::ng-deep.ql-font-futura {
  font-family: 'Futura';
}

::ng-deep.ql-font-georgia {
  font-family: 'Georgia';
}

::ng-deep.ql-font-gotham {
  font-family: 'Gotham';
}

::ng-deep.ql-font-montserrat {
  font-family: 'Montserrat';
}

::ng-deep.ql-font-myriad {
  font-family: 'Myriad';
}

::ng-deep.ql-font-rockwell {
  font-family: 'Rockwell';
}

/* Fonts */

.ql-editor .ql-align-center {
  text-align: center;
}

.ql-editor .ql-align-right {
  text-align: right;
}

.ql-editor .ql-align-justify {
  text-align: justify;
}

::ng-deep .ql-align-center {
  text-align: center;
}

::ng-deep .ql-align-right {
  text-align: right;
}

::ng-deep .ql-align-justify {
  text-align: justify;
}

/* Text Position */
